<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        .row {
            display: flex;
        }
        .row2 {
            height: 500px;
            text-align: left;
        }
        .bottom {
            width: 200px;
            height: 100px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="menu" class="row">
    <ul>
        <li>Logo</li>
        <li>Home</li>
        <li>About</li>
        <li>Projects</li>
        <li>Contact</li>

    </ul>
    <p class="login"><i class="fa-solid fa-right-to-bracket"></i>Login</p>
</div>

<div class="row row2">
    <div class=" col-2" style="background-color: #7c7779; color: blue; text-align: center">
            <a>link</a><br>
            <a>link</a><br>
            <a>link</a><br>
    </div>
    <div class="col-8" style="background-color: white">
        <p class="document"><b>Welcome</b></p>
        <p class="document">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est
            laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <hr>
        <p class="document">
            <b style="">Test<br></b>
            Lorem ipsum...
        </p>
    </div>
    <div class="col-2" style="background-color: #7c7779; text-align: center">
        <button class="bottom">ADS</button>
        <button class="bottom">ADS</button>
    </div>
</div>
<div class="row" style="justify-content: center ; background-color: #626565">Footer Text</div>
</body>
</html>
