body{
 font-family: Arial;
}

#menu{
    height: 30px;
    padding: 0;
    margin: 0;
    background-color: aqua;
    border: 1px solid deepskyblue;
}

#menu ul, #menu ul{
 padding: 0;
    margin: 0;
}

#menu li{
    position: relative;
    float: left;
 padding: 0;
    margin: 0;
}

#menu li a{
    width: 100px;
    height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    background-color: blue;
    color: coral;
}